<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding_IService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SevenUpdate.Service.ServiceBehavior" name="SevenUpdate.Service.WcfService">
        <endpoint address="net.pipe://localhost/SevenUpdate/" behaviorConfiguration="protoEndpointBehavior" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBinding_IService" contract="SevenUpdate.Service.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/SevenUpdate" />
            <add baseAddress="net.pipe://localhost/SevenUpdate" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SevenUpdate.Service.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpGetUrl="http://localhost/SevenUpdate/Mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=1.0.0.282, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>