<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IService" closeTimeout="00:01:00" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="666524288" maxBufferSize="666524288" maxConnections="10" maxReceivedMessageSize="666524288">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ExposeMexAndThrottleBehavior">
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/SevenUpdate/Mex" />
          <serviceThrottling maxConcurrentCalls="3" maxConcurrentInstances="2" maxConcurrentSessions="2" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SevenUpdate.Service.Service" behaviorConfiguration="ExposeMexAndThrottleBehavior">
        <endpoint address="net.pipe://localhost/SevenUpdate/" binding="netNamedPipeBinding" contract="SevenUpdate.Service.IService" behaviorConfiguration="protoEndpointBehavior" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=1.0.0.282, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>