<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SevenUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SevenUpdate.Properties.Settings>
      <setting name="lastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="lastInstall" serializeAs="String">
        <value />
      </setting>
      <setting name="infoPopUp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="windowHeight" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="windowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="locale" serializeAs="String">
        <value>en</value>
      </setting>
    </SevenUpdate.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/SevenUpdate/" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IService" contract="Service.IService" name="NetNamedPipeBinding_IService" behaviorConfiguration="protoEndpointBehavior"></endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SevenUpdate.Service.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpGetUrl="http://localhost/SevenUpdate/Mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=1.0.0.282, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>
</configuration>