<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SevenUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <SevenUpdate.Properties.Settings>
      <setting name="lastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="lastInstall" serializeAs="String">
        <value />
      </setting>
      <setting name="infoPopUp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="windowHeight" serializeAs="String">
        <value>550</value>
      </setting>
      <setting name="windowWidth" serializeAs="String">
        <value>900</value>
      </setting>
    </SevenUpdate.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>